.adCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #ccc;

  &:hover {
    box-shadow: 0 0 10px #333;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  &__like {
    margin-top: 16px;
  }

  &__content {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__secondary {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__like {
    height: 40px;
    width: 40px;
    margin: 0;
  }
}